.image-previewer {
    &-container {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        // outline: 1px solid;
        
    }
    &-core-wrapper {
        // outline: 1px solid blue;
    }
}