.image-previewer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border: 10px solid pink;
    padding: 20px;
    &-view-row {
        border: 1px solid red;
        width: 90%;
        height: 100%;
        margin: 0 auto;
        overflow: hidden;
    }
    &-operation-bar {
        border: 1px solid lightblue;
        padding: 5px 0;
        width: 90%;
        margin: 0 auto;
        text-align: center;
        & > .zeroUI-button {
            margin: 0 10px;
        }
    }
    &-core-wrapper {
        // outline: 1px solid blue;
        background-color: lightblue;
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: #ccc;
        // text-align: center;
    }
    
}