.drag-span {
    padding: 6px 4px;
    display: inline-block;
    border-radius: 4px;
    border: 1px solid palevioletred;
}

.drag-div {
    width: 120px;
    height: 60px;
    background-color: peachpuff;
    border-radius: 4px;
    padding: 6px 4px;
    text-align: center;
    line-height: 60px;
}