.custom-kit-waterfall {
    &-wrapper {
        display: block;
        column-fill: auto;
    }
    &-item {
        border: 1px solid #ccc;
        word-break: break-word;
        -webkit-column-break-inside: avoid;
        -moz-column-break-inside: avoid;
        column-break-inside: avoid;
    }
}