
.item-1 {
    height: 100px;
    
}
.item-2 {
    height: 200px;
    
}
.item-3 {
    height: 300px;
    
}
.item-4 {
    height: 400px;
}
.item-5 {
    height: 300px;
}
.item {
    background-color: khaki;
    text-align: center;
}
