.item-1 {
    background-color: pink;
    height: 400px;
    width: 300px;
    display: inline-flex;
}
.item-2 {
    background-color: plum;
    height: 200px;
    width: 300px;
    display: inline-flex;
}
.item-3 {
    background-color: purple;
    height: 500px;
    width: 300px;
    display: inline-flex;
}
.item-4 {
    background-color: rosybrown;
    height: 200px;
    width: 300px;
    display: inline-flex;
}